body {
    background-color: #323d70;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.stopwatch {
    background-color: #a5bb68;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
#display {
    font-size: 2.5rem;
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
    font-size: 0.9rem;
}
